* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: sans-serif;
}
p {
  font-size: 1.1rem;
}
#mainHeader,
#cardLang,
#digits,
#companyContext,
#footer-content {
  width: 70%;
  margin: 0 auto;
}
/* MAIN HEADING AND NAVBAR */
#mainPageHeader {
  height: 72vh;
  background: url("https://www.sololearn.com/Images/bg.jpg");
  background-position: center;
  background-size: cover;
}
#mainHeader,
header a,
nav h1 {
  color: #fff;
}
a.nav-link {
  text-transform: uppercase;
  padding: 7px 10px;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 0 4px;
}
a.nav-link:hover {
  background-color: #1abc9c;
  border-radius: 5px;
  color: #fff;
}
.signIn {
  background-color: #1abc9c;
  border-radius: 5px;
}
.headingText {
  width: 75%;
  margin-top: 30px;
}
.headingText,
.middleText {
  padding: 15px 0;
  font-size: 1.2rem;
}
header a.btn-lg {
  background-color: #1abc9c;
  color: #fff;
  border-radius: 50px;
  padding: 9px 50px;
  margin-top: 10px;
  font-weight: 500;
}
header a.btn-lg:hover {
  background-color: #17a68a;
  color: #fff;
  border-radius: 50px;
  padding: 9px 50px;
  margin-top: 10px;
  font-weight: 500;
}
/* CARD LANGUAGE COURSES */
#cardLanguage {
  min-height: 500px;
  padding: 40px 0;
  text-align: center;
}
#cardLanguage img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 30px;
}
img.center {
  margin-left: auto;
  margin-right: auto;
}
.cardLan {
  width: 290px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}
#cardLang p {
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
a.backgroundChange {
  background-color: #1abc9c;
  color: #fff;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-weight: 500;
  border: 1px solid #1abc9c;
}
a.backgroundChange:hover {
  background-color: #17a68a;
  color: #fff;
  border-radius: 50px;
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 500;
  border: 1px solid #17a68a;
}
a.viewCourses {
  color: #1abc9c;
  text-decoration: none;
  margin-top: 50rem;
  font-weight: 600;
}
a.viewCourses:hover {
  text-decoration: underline;
}
/*ANYTIME SECTION */
#anytimeSection {
  min-height: 400px;
  background: #414e53;
  color: #d6d6d6;
  padding: 35px;
}
.digitColumn {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
span.numberBold {
  font-size: 2.1rem;
  color: #8bc34a;
  font-weight: 700;
}
p.topText {
  font-size: 1.1rem;
  padding: 0 30px 0 0;
  letter-spacing: 1px;
}
span.anytime {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}
p.textRight {
  font-size: 17px;
  color: #d6d6d6;
  margin: 10px 0 0;
}
#digit img {
  width: auto;
}
/* COMPANY AREA */
#companySection {
  text-align: center;
  min-height: 450px;
  padding: 35px 0;
}
#companySection h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 10px;
}
#companyContext .heading-text {
  font-size: 1.3em;
}
#companySection .numberBold {
  font-weight: 700;
  font-size: 1.9rem;
}
#companySection a {
  color: #484848;
}
#companySection a:hover {
  color: #1abc9c;
}
.icons {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.icons i {
  margin: 0 20px 0 0;
}
#companySection .card {
  margin-bottom: 30px;
}
#companySection .card:hover {
  border: 1.5px solid #1abc9c;
}
#companySection .card-text {
  font-size: 0.94rem;
  padding: 10px 5px;
}
.companyBottom img {
  border-radius: 50%;
  margin: 0 0 30px 0;
  height: 100px;
  width: 100px;
}
.companyBottom h5,
.companyBottom p {
  font-size: 1rem;
}
/* BE A MEMBER SECTION */
#member {
  text-align: center;
  min-height: 200px;
  background-color: #eaedf1;
}
#member h2 {
  padding: 35px 0 5px 0;
  font-weight: 500;
}
#member a {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  border-radius: 50px;
  padding: 10px 130px;
  font-weight: 500;
  color: #fff;
  margin-top: 10px;
}
#member a:hover {
  background-color: #17a68a;
  border: 1px solid #17a68a;
}
/* LEARN PLAY */
#learn {
  text-align: center;
  height: 10vh;
  background-color: #3a464b;
  color: #fff;
}
#learnPlay h5 {
  line-height: 10vh;
  font-weight: 500;
}
/* FOOTER AREA */
#footer-section {
  background-color: #eaedf1;
  min-height: 300px;
  padding: 35px;
}
#footer-content {
  display: flex;
  justify-content: space-around;
}
#footer-content i {
  padding: 25px;
  color: #fff;
}
#footer-content i.fa-twitter {
  background: #1abc9c;
}
#footer-content i.fa-facebook-official {
  background: #29c0ac;
}
#footer-content i.fa-google-plus-official {
  background: #219c8b;
}
span.atSolo {
  background: #fff;
  padding: 35px 60px;
  font-weight: 500;
  color: #b4bbc2;
  font-size: x-large;
}
span.atSolo:hover {
  color: #92989e;
}
.home {
  color: #383737 !important;
  font-size: 3rem;
}
#footer-content li {
  list-style-type: none;
  color: #b4bbc2;
  font-size: 15.5px;
  font-weight: bold;
  line-height: 1.6rem;
}
#footer-content li:hover {
  color: #92989e;
}
#footer-content a {
  text-decoration: none;
}
.text-blue {
  color: #86a7c3;
}
#footer-content h1 {
  color: rgb(252, 253, 253);
}
.grey-text {
  color: #b2b2b4;
}
#footer-content p.company {
  font-size: 14.5px;
  padding-top: 20px;
}
